In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('Fortune500.csv')

In [3]:
df.head()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
0,1,Walmart,2300000,Retailing,General Merchandisers,Bentonville,C. Douglas McMillon,"President, Chief Executive Officer & Director",485873,0.8,13643.0,-7.2,198825
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),Omaha,Warren E. Buffett,Chairman & Chief Executive Officer,223604,6.1,24074.0,0,620854
2,3,Apple,116000,Technology,"Computers, Office Equipment",Cupertino,Timothy D. Cook,Chief Executive Officer & Director,215639,-7.7,45687.0,-14.4,321686
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,Irving,Darren W. Woods,Chairman & Chief Executive Officer,205004,-16.7,7840.0,-51.5,330314
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,San Francisco,John H. Hammergren,"Chairman, President & Chief Executive Officer",192487,6.2,2258.0,53,56563

In [4]:
df.tail(7)

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
493,494,CH2M Hill,20000,Engineering & Construction,"Engineering, Construction",Englewood,Jacqueline C. Hinman,"Chairman, President & Chief Executive Officer",5236,-2.3,15.0,-81.3,2671
494,495,Big Lots,23150,Retailing,Specialty Retailers: Other,Columbus,David J. Campisi,"President, Chief Executive Officer & Director",5200,0.2,152.8,7,1608
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,Irving,Carl S. Rubin,Chairman & Chief Executive Officer,5197,5.8,378.2,4.2,2148
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,Horsham,Douglas C. Yearley Jr.,Chief Executive Officer & Director,5170,23.9,382.1,5.2,9737
497,498,Yahoo,8500,Technology,Internet Services and Retailing,Sunnyvale,Marissa A. Mayer,"President, Chief Executive Officer & Director",5169,4.0,-214.3,5.2,48083
498,499,Vistra Energy,4431,Energy,Energy,Dallas,Curtis A. Morgan,"President, Chief Executive Officer & Director",5164,4.0,-214.3,5.2,15167
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,New York,Scott B. Salmirs,"President, Chief Executive Officer & Director",5145,-2.8,57.2,-25,2281

In [5]:
df.shape

(500, 13)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        500 non-null    int64
 1   Title       500 non-null    object
 2   Employees   500 non-null    int64
 3   Sector      500 non-null    object
 4   Industry    500 non-null    object
 5   Hqcity      500 non-null    object
 6   Ceo         500 non-null    object
 7   Ceo-title   500 non-null    object
 8   Revenues    500 non-null    int64
 9   Revchange   500 non-null    float64
 10  Profits     500 non-null    float64
 11  Prftchange  500 non-null    object
 12  Assets      500 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 50.9+ KB

In [7]:
sub_df=df[['Rank','Title','Employees','Sector','Revenues','Profits']]
sub_df.head()

   Rank               Title  Employees       Sector  Revenues  Profits
0     1             Walmart    2300000    Retailing    485873  13643.0
1     2  Berkshire Hathaway     367700   Financials    223604  24074.0
2     3               Apple     116000   Technology    215639  45687.0
3     4         Exxon Mobil      72700       Energy    205004   7840.0
4     5            McKesson      68000  Wholesalers    192487   2258.0

In [8]:
sub_df.describe()

             Rank     Employees       Revenues       Profits
count  500.000000  5.000000e+02     500.000000    500.000000
mean   250.492000  5.635013e+04   24111.748000   1779.479800
std    144.477366  1.234520e+05   38337.353337   3937.558721
min      1.000000  8.300000e+01    5145.000000  -6177.000000
25%    125.750000  1.190000e+04    7245.000000    235.725000
50%    250.500000  2.500000e+04   11384.000000    683.600000
75%    375.250000  5.682525e+04   22605.250000   1770.775000
max    500.000000  2.300000e+06  485873.000000  45687.000000

In [9]:
mean = sub_df['Profits'].mean()
mean

1779.4797999999998

In [10]:
median = sub_df['Profits'].median()
median

683.6

In [11]:
mode = sub_df['Profits'].mode()
mode

0    -214.3
1     324.0
2     382.1
3     396.0
4     734.0
5    1768.0
Name: Profits, dtype: float64

In [12]:
l = sub_df['Profits'].max()
l

45687.0

In [13]:
s = sub_df['Profits'].min()
s

-6177.0

In [14]:
range = l-s
range

51864.0

In [15]:
r = sub_df['Profits'].max() - sub_df['Profits'].min()
r

51864.0

In [16]:
#quartile decile, percentile.
q1 = sub_df['Profits'].quantile(0.25)
q1

235.725

In [17]:
q2 = sub_df['Profits'].quantile(0.50)
q2

683.6

In [18]:
q3 = sub_df['Profits'].quantile(0.75)
q3

1770.775

In [19]:
sd = sub_df['Profits'].std(0)
sd

3937.558720894575

In [20]:
iqr = q3-q1
iqr

1535.0500000000002

In [21]:
iqr2 =sub_df['Profits'].quantile(0.75) - sub_df['Profits'].quantile(0.25)
iqr2

1535.0500000000002

In [22]:
cv= sd/mean*100
cv

221.2758313353473

In [23]:
skew = sub_df['Profits'].skew()
skew

4.910176826618978

In [24]:
sub_df.sample(3)

,Rank,Title,Employees,Sector,Revenues,Profits
26,27,Alphabet,72053,Technology,90272,19478.0
310,311,Mohawk Industries,37800,Household Products,8959,930.4
292,293,Fidelity National Financial,55219,Financials,9554,650.0

In [48]:
sub_df.sample(frac=0.01)

,Rank,Title,Employees,Sector,Revenues,Profits
484,485,Windstream Holdings,11870,Telecommunications,5387,-383.5
59,60,Cisco Systems,73700,Technology,49247,10739.0
393,394,Ryder System,34500,Transportation,6787,262.5
316,317,Expedia,20075,Technology,8774,281.8
313,314,Netflix,3850,Technology,8831,186.7

In [26]:
sub_df.sample(frac= 0.7)['Profits'].mean()

1788.9331428571427

In [53]:
df3= sub_df.sample(frac= 0.01,random_state=1)
df3['Profits'].mean()

1138.8200000000002

In [28]:
df3= sub_df.sample(frac= 0.6,random_state=1)
df3['Profits'].mean()

1584.3986666666665

In [29]:
df3= sub_df.sample(frac= 0.6,random_state=2)
df3['Profits'].mean()

1779.5076666666669

In [30]:
df3= sub_df.sample(frac= 0.6,random_state=3)
df3['Profits'].mean()

1592.522

In [31]:
df3= sub_df.sample(frac= 0.6,random_state=4)
df3['Profits'].mean()

1709.9023333333334

In [32]:
df3= sub_df.sample(frac= 0.6,random_state=5)
df3['Profits'].mean()

1787.744

In [33]:
q1 = sub_df['Revenues'].quantile(0.25)
q3 = sub_df['Revenues'].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
lower_bound

-15795.375

In [34]:
q1 = sub_df['Revenues'].quantile(0.25)
q3 = sub_df['Revenues'].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
upper_bound

45645.625

In [35]:
outliers = sub_df[(sub_df['Revenues']<lower_bound )| (sub_df['Revenues']>upper_bound)]
print("outlier rows:")
print(outliers)

outlier rows:
    Rank                       Title  Employees          Sector  Revenues  \
0      1                     Walmart    2300000       Retailing    485873
1      2          Berkshire Hathaway     367700      Financials    223604
2      3                       Apple     116000      Technology    215639
3      4                 Exxon Mobil      72700          Energy    205004
4      5                    McKesson      68000     Wholesalers    192487
..   ...                         ...        ...             ...       ...
57    58                       FedEx     335767  Transportation     50365
58    59  Hewlett Packard Enterprise     195000      Technology     50123
59    60               Cisco Systems      73700      Technology     49247
60    61                          HP      49000      Technology     48238
61    62                Dow Chemical      56000       Chemicals     48158

    Profits
0   13643.0
1   24074.0
2   45687.0
3    7840.0
4    2258.0
..      ...
57   1820.0
58   3161.0
59  10739.0
60   2496.0
61   4318.0

[62 rows x 6 columns]

In [36]:
q1 = sub_df['Profits'].quantile(0.25)
q3 = sub_df['Profits'].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
lower_bound

-2066.8500000000004

In [37]:
q1 = sub_df['Profits'].quantile(0.25)
q3 = sub_df['Profits'].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
upper_bound

4073.3500000000004

In [38]:
outliers = sub_df[(sub_df['Profits']<lower_bound ) | (sub_df['Profits']>upper_bound)]
print("outliers rows:")
print(outliers)

outliers rows:
     Rank                   Title  Employees       Sector  Revenues  Profits
0       1                 Walmart    2300000    Retailing    485873  13643.0
1       2      Berkshire Hathaway     367700   Financials    223604  24074.0
2       3                   Apple     116000   Technology    215639  45687.0
3       4             Exxon Mobil      72700       Energy    205004   7840.0
5       6      UnitedHealth Group     230000  Health Care    184840   7017.0
..    ...                     ...        ...          ...       ...      ...
284   285            Baker Hughes      33000       Energy      9841  -2738.0
309   310                    eBay      12600   Technology      8979   7266.0
342   343       Chesapeake Energy       3300       Energy      7872  -4401.0
343   344      Anadarko Petroleum       4500       Energy      7869  -3071.0
374   375  National Oilwell Varco      36384       Energy      7251  -2412.0

[68 rows x 6 columns]

In [39]:
q1 = df['Assets'].quantile(0.25)
q3 = df['Assets'].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
lower_bound

-51097.75

In [40]:
q1 = df['Assets'].quantile(0.25)
q3 = df['Assets'].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
upper_bound

107660.25

In [41]:
outliers = df[(df['Assets'] < lower_bound ) | (df['Assets'] > upper_bound )]
print('outlier row:')
print(outliers)

outlier row:
     Rank                     Title  Employees       Sector  \
0       1                   Walmart    2300000    Retailing
1       2        Berkshire Hathaway     367700   Financials
2       3                     Apple     116000   Technology
3       4               Exxon Mobil      72700       Energy
5       6        UnitedHealth Group     230000  Health Care
..    ...                       ...        ...          ...
388   389       Fifth Third Bancorp      17844   Financials
435   436         Regions Financial      22166   Financials
450   451  Citizens Financial Group      17600   Financials
454   455            M&T Bank Corp.      16487   Financials
478   479                   KeyCorp      15700   Financials

                                     Industry       Hqcity  \
0                       General Merchandisers  Bentonville
1    Insurance: Property and Casualty (Stock)        Omaha
2                 Computers, Office Equipment    Cupertino
3                          Petroleum Refining       Irving
5     Health Care: Insurance and Managed Care   Minnetonka
..                                        ...          ...
388                          Commercial Banks   Cincinnati
435                          Commercial Banks   Birmingham
450                          Commercial Banks   Providence
454                          Commercial Banks      Buffalo
478                          Commercial Banks    Cleveland

                       Ceo                                      Ceo-title  \
0      C. Douglas McMillon  President, Chief Executive Officer & Director
1        Warren E. Buffett             Chairman & Chief Executive Officer
2          Timothy D. Cook             Chief Executive Officer & Director
3          Darren W. Woods             Chairman & Chief Executive Officer
5       Stephen J. Hemsley             Chief Executive Officer & Director
..                     ...                                            ...
388     Greg D. Carmichael  President, Chief Executive Officer & Director
435  O.B. Grayson Hall Jr.  Chairman, President & Chief Executive Officer
450      Bruce W. Van Saun             Chairman & Chief Executive Officer
454      Robert G. Wilmers             Chairman & Chief Executive Officer
478         Beth E. Mooney  Chairman, President & Chief Executive Officer

     Revenues  Revchange  Profits Prftchange  Assets
0      485873        0.8  13643.0       -7.2  198825
1      223604        6.1  24074.0          0  620854
2      215639       -7.7  45687.0      -14.4  321686
3      205004      -16.7   7840.0      -51.5  330314
5      184840       17.7   7017.0       20.7  122810
..        ...        ...      ...        ...     ...
388      6889       -2.0   1564.0       -8.6  142177
435      5967        5.2   1163.0        9.5  125968
450      5763        9.2   1045.0       24.4  149520
454      5722       14.5   1315.1       21.8  123449
478      5422       19.4    791.0      -13.6  136453

[70 rows x 13 columns]