In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('IRIS.csv')

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
sub_df= df[['sepal_length','sepal_width','petal_length','petal_width','species']]
sub_df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
sub_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
#1.sepal_length has a higher average by observing the dataset.

In [7]:
r = sub_df['petal_length'].max() - sub_df['petal_length'].min()
r

5.9

In [8]:
r = sub_df['petal_width'].max() - sub_df['petal_width'].min()
r

2.4

In [9]:
#2. petal_length has feature shows more spread.

In [10]:
sub_df.sample(frac= 0.50)['sepal_length'].mean()

5.881333333333333

In [11]:
sub_df.sample(frac=0.50)

     sepal_length  sepal_width  petal_length  petal_width          species
100           6.3          3.3           6.0          2.5   Iris-virginica
58            6.6          2.9           4.6          1.3  Iris-versicolor
102           7.1          3.0           5.9          2.1   Iris-virginica
76            6.8          2.8           4.8          1.4  Iris-versicolor
123           6.3          2.7           4.9          1.8   Iris-virginica
..            ...          ...           ...          ...              ...
31            5.4          3.4           1.5          0.4      Iris-setosa
109           7.2          3.6           6.1          2.5   Iris-virginica
126           6.2          2.8           4.8          1.8   Iris-virginica
118           7.7          2.6           6.9          2.3   Iris-virginica
92            5.8          2.6           4.0          1.2  Iris-versicolor

[75 rows x 5 columns]

In [12]:
q1 = sub_df['sepal_length'].quantile(0.25)
q1

5.1

In [13]:
q3 = sub_df['sepal_length'].quantile(0.75)
q3

6.4

In [14]:
iqr = q3-q1
iqr

1.3000000000000007

In [15]:
iqr2 =sub_df['sepal_length'].quantile(0.75) - sub_df['sepal_length'].quantile(0.25)
iqr2

1.3000000000000007

In [16]:
iqr2 =sub_df['sepal_width'].quantile(0.75) - sub_df['sepal_width'].quantile(0.25)
iqr2

0.5

In [17]:
#3. sepal_length has greater variability in the middle 50% of the data.

In [18]:
sd = sub_df['sepal_length'].std(0)
sd

0.8280661279778629

In [19]:
sd = sub_df['sepal_width'].std(0)
sd

0.4335943113621737

In [20]:
#4. sepal_length has more variability comparing to sepal_width.
#more variabilty less consistensy, less variabilty more consistency
#sepal_length has more variability has less consistency and sepal_width has 
#less variability and more consistency.

In [21]:
skew = sub_df['petal_length'].skew()
skew

-0.27446425247378287

In [22]:
#5. petal_length is not skewed.

In [23]:
skew = sub_df['sepal_length'].skew()
skew

0.3149109566369728

In [24]:
skew = sub_df['sepal_width'].skew()
skew

0.3340526621720866

In [25]:
#6. sepal_length is closer to zero compare to sepal_width. both side are nearby zero and closely
#to each other the symmetry of the distribution.

In [37]:
cv = sd/mean*100
cv

46.942721353820374

In [29]:
mean = sub_df['sepal_length'].mean()
mean

5.843333333333334

In [31]:
mean = sub_df['petal_length'].mean()
mean

3.758666666666666

In [33]:
sd = sub_df['petal_length'].std(0)
sd

1.7644204199522617

In [35]:
cv = sd/mean*100
cv

46.942721353820374

In [ ]:
#7. petal_length has the better feature of variablity.

In [39]:
q1 = sub_df['sepal_length'].quantile(0.25)
q3 = sub_df['sepal_length'].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
lower_bound

3.1499999999999986

In [41]:
q1 = sub_df['sepal_length'].quantile(0.25)
q3 = sub_df['sepal_length'].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
upper_bound

8.350000000000001

In [43]:
outliers = sub_df[(sub_df['sepal_length']<lower_bound )| (sub_df['sepal_length']>upper_bound)]
print("outlier rows:")
print(outliers)

outlier rows:
Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []